body {
  background-image: url(img/bgPC.png);
  background-size: cover;
  overflow: hidden;
}

.component {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: #000000 1px solid; */
}

@media (min-width:1200px) {
  .component {
    transform: translate(-50%, -50%) scale(0.7);
  }

}

.component .backside {
  position: absolute;
  width: 826px;
  height: 535px;
  top: 50%;
  /* Align top of .backside to center of .component */
  left: 50%;
  /* Align left of .backside to center of .component */
  transform: translate(-50%, -50%);
  /* Adjust position to center .backside */
  background-color: #f5d6d1;
}

.component .right {
  position: absolute;
  width: 491px;
  height: 611px;
  top: 50%;
  /* Align top of .backside to center of .component */
  left: 50%;
  /* Align left of .backside to center of .component */
  transform: translate(-8%, -51%);
  z-index: 2;
}

.component .left {
  position: absolute;
  width: 425px;
  height: 546px;
  top: 50%;
  /* Align top of .backside to center of .component */
  left: 50%;
  /* Align left of .backside to center of .component */
  transform: translate(-99%, -50.5%);
  z-index: 2;
}

.component .bottom {
  position: absolute;
  width: 834px;
  height: 362px;
  top: 50%;
  /* Align top of .backside to center of .component */
  left: 50%;
  /* Align left of .backside to center of .component */
  transform: translate(-50%, -24%);
  z-index: 3;
}

.component .group {
  position: absolute;
  width: 416px;
  height: 826px;
  top: 50%;
  /* Align top of .backside to center of .component */
  left: 50%;
  /* Align left of .backside to center of .component */
  transform: translate(-56%, -60.6%);
  z-index: 4;
}

.component .top {
  position: absolute;
  width: 834px;
  height: 362px;
  top: 234px;
  left: -186px;
  z-index: 1;
}

.component .seal {
  position: absolute;
  width: 184px;
  height: 164px;
  top: 466px;
  left: 138px;
  object-fit: cover;
  z-index: 4;
}

.component .a-c {
  position: absolute;
  width: 195px;
  height: 59px;
  top: 396px;
  left: 128px;
  z-index: 4;
}

.component .letter1 {
  position: absolute;
  top: 50%;
  /* Align top of .backside to center of .component */
  left: 50%;
  /* Align left of .backside to center of .component */
  transform: translate(-50%, -50%) scale(0.5);
  /* transform: scale(0.5); */
  z-index: 1;
}

.component .letter2 {
  position: absolute;
  top: 50%;
  /* Align top of .backside to center of .component */
  left: 50%;
  /* Align left of .backside to center of .component */
  transform: translate(-50%, -50%) rotateX(-90deg) scale(0.5);
  z-index: 0;
}

.component .list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(350%, 1250%) scale(3);
  z-index: 10;
  opacity: 0;
}

.component .map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-420%, 1250%) scale(3);
  z-index: 10;
  opacity: 0;
}

@media (max-width:1200px) {
  .component .list {
    transform: translate(390%, 1300%) scale(3);
  }

  .component .map {
    transform: translate(-490%, 1300%) scale(3);
  }
}

@media (max-width:1200px) {
  .component .letter_full {

    /* Align left of .backside to center of .component */
    transform: scale(0);
    opacity: 0;
  }

  .component.opened .letter_full {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    animation: fade-in 1s ease-in forwards 9s;
    z-index: 10;
  }
}

@media (min-width:1200px) {
  .component .letter_full {
    transform: scale(0);
  }
}

.component.opened .top {
  animation: rotate 2s ease-in forwards 1.5s, fade-out 4.5s ease-in 1.5s forwards;
}

.component.opened .group {
  animation: change_index 3s forwards 1.5s;
}

.component.opened .seal {
  animation: vanish 0.5s forwards 1.5s;
}

.component.opened .a-c {
  animation: vanish 0.5s forwards 1.5s;
}

.component.opened .letter1 {
  animation: up 0.5s forwards;
  animation-delay: 3.5s;
}

.component.opened .letter2 {
  animation: flip 2s forwards 6.5s;

}

.component.opened .right,
.component.opened .left,
.component.opened .bottom,
.component.opened .backside {
  animation: fade-out 1s ease-in forwards;
  animation-delay: 4.5s;
}

/* .component.opened .letter1,
.component.opened .letter2 {
  animation: final_zoom 1s ease-in forwards;
  animation-delay: 5s;
} */

@keyframes change_index {
  100% {
    z-index: 0;
  }
}

@keyframes rotate {
  0% {
    transform-origin: top;
    /* transform: rotateX(0deg); */
  }

  70% {
    transform-origin: top;
    transform: rotateX(180deg);
  }

  100% {
    transform-origin: top;
    transform: rotateX(180deg);
    z-index: 1;
  }
}

@keyframes vanish {
  100% {
    /* transform-origin: bottom; */
    transform: scale(0);
  }
}

@keyframes up {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
  }

  100% {
    /* transform: scale(0.5); */
    transform: translate(-50%, -75%) scale(0.5);
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }

}

@keyframes flip {

  0% {
    /* transform-origin: bottom; */
    /* transform: translate(-50%, -50%); */
  }

  100% {
    transform-origin: bottom;
    transform: rotateX(-0.5turn) translate(-50%, 100%) scale(0.5);

  }
}

@keyframes fade-in {
  1% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
    z-index: 10;
  }

  100% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 1;
    z-index: 10;
  }
}